{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post">

        <div class="form-row form-group" style="width: 35rem;">
            <div class="col-5">
                <input type="text" name="name" placeholder="Name of your oldest cat..." class="form-control" required>
            </div>

            <div class="col-4">
                <select name="breed" class="form-control" required>
                    <option disabled selected>Breed...</option>
                    <option value="aegean">Aegean</option>
                    <option value="asian">Asian</option>
                    <option value="balinese">Balinese</option>
                    <option value="bobtail">Bobtail</option>
                    <option value="curl">Curl</option>
                    <option value="cyprus">Cyprus</option>
                    <option value="norwegian">Norwegian forest cat</option>
                    <option value="persian">Persian</option>
                    <option value="turkish">Turkish angora</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" value="female" id="female" checked required>
                    <label class="form-check-label" for="female">Female</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" value="male" id="male">
                    <label class="form-check-label" for="male">Male</label>
                </div>
            </div>
        </div>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

    <script>

        $("form").submit("click", function()
        {
            if (!$("input[name='name']").val() || !$("input[name='gender']").val() || !$("select[name='breed']").val())
            {
                alert("All fields are required!");
                return false;
            }
        });

    </script>

{% endblock %}
