{% extends "layout.html" %}

{% block additional_head %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block main %}

<table id="cats" class="table table-striped hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Breed</th>
            <th scope="col">Gender</th>
        </tr>
    </thead>

    <tbody>
        {% for cat in cats %}
        <tr>
            <td>{{ cat["name"] }}</td>
            <td>{{ cat["breed"] }}</td>
            <td>{{ cat["gender"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>

    $(document).ready(function()
    {
        $('#cats').DataTable();
    });

</script>

{% endblock %}
