{% extends "layout.html" %}

{% block title %}
    Buy stock
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autofocus class="form-control" name="symbol" placeholder="SYMB" type="text"{% if sym %} value="{{ sym }}"{% endif %}required>

            <input class="form-control" name="shares" placeholder="# of shares..." type="number" required>
        </div>

        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
