{% extends "layout.html" %}

{% block title %}
    Transaction history
{% endblock %}

{% block main %}
    <table class="table table-striped table-hover">
        <thead class="thead-light">
            <th>Symbol</th>
            <th>Amount</th>
            <th>Value (a piece)</th>
            <th>Value (total)</th>
            <th>Time</th>
        </thead>

        <tbody>
            {% for transaction in transactions %}
            <tr class="{% if transaction.is_sell %}table-success{% else %}table-danger{% endif %} ">
                <td>{{ transaction.symbol }}</td>
                <td>{% if transaction.is_sell %}-{% else %}+{% endif %} {{ transaction.amount }}</td>
                <td>{{ transaction.price | usd }}</td>
                <td>{% if transaction.is_sell %}+{% else %}-{% endif %} {{ transaction.total | usd }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
