{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead class="thead-light">
            <th>Balance</th>
            <th>Total holding value</th>
            <th>Grand total</th>
        </thead>

        <tbody>
            <td>{{ balance | usd }}</td>
            <td>{{ tot_value | usd }}</td>
            <td><strong>{{ grand_tot | usd }}</strong></td>
        </tbody>
    </table>

    <table class="table table-striped table-hover">
        <thead class="thead-light">
            <th style="width: 8rem;"></th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Value (a piece)</th>
            <th>Value (holding)</th>
        </thead>

        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>
                    {% if stock.price %}
                    <a href="/buy?sym={{ stock.symbol }}" class="btn btn-info btn-sm">Buy</a>
                    <a href="/sell?sym={{ stock.symbol }}" class="btn btn-info btn-sm">Sell</a>
                    {% endif %}
                </td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price | usd }}</td>
                <td>{{ stock.total | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
