{% extends "layout.html" %}

{% block title %}
    Lookup quote
{% endblock %}

{% block main %}
    <table class="table table-striped table-hover">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Symbol</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ quoted.name }}</td>
                <td>{{ quoted.price | usd }}</td>
                <td>{{ quoted.symbol }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
