{% extends "layout.html" %}

{% block title %}
    Lookup quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autofocus class="form-control" name="symbol" placeholder="SYMB" type="text" required>
        </div>

        <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}
