{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>

        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>

        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password" type="password" required>
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <script>
        $("form").on("submit", function(e)
        {
            e.preventDefault()

            $.ajax("/check?username=" + $("input[name='username']").val()).done(function(result)
            {
                if (!result)
                {
                    alert("The username is invalid or already taken!");
                    return false;
                }
                else
                {
                    $("form")[0].submit()
                    return true;
                }
            });
        });
    </script>
{% endblock %}
