{% extends "layout.html" %}

{% block title %}
    Sell stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol" required>
                <option selected disabled>Symbol...</option>
                {% if (owned_stocks | length) == 0 %}
                <option disabled>No stocks owned yet</option>
                {% endif %}
                {% for stock in owned_stocks %}
                <option value="{{ stock }}"{% if stock == sym %} selected{% endif %}>{{ stock }}</option>
                {% endfor %}
            </select>

            <input class="form-control" name="shares" placeholder="# of shares..." type="number" required>
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
