{% extends "layout.html" %}

{% block title %}
    Sell stock
{% endblock %}

{% block main %}
    <form action="/top-up" method="post">
        <div class="form-group">
            $ <input class="form-control" name="amount" placeholder="Amount..." type="number" required>
        </div>

        <button class="btn btn-primary" type="submit">Top-up</button>
    </form>
{% endblock %}
