header
{
    margin-top: 1rem;
    margin-left: 5rem;
}

h1
{
    border-bottom: 2px solid #007bff;
}

h2
{
    font-size: 1.5rem;
    margin-left: 2rem;
}

main, nav
{
    margin-left: 20%;
    margin-right: 20%;
}

.nav-item:hover
{
    background-color: #0056b3;
    color: white;
    transition-duration: 0.4s;
}

main
{
    margin-top: 2rem;
}

main > p
{
    text-align: justify;
}

figure
{
    margin: 1rem;
    width: 16rem;
    float: left;
}

#sicilyCarousel img
{
    max-height: 500px;
    object-fit: cover; /* Optional but improves looks on supported browsers. */
}

/* Classes for non-default alignment of figures. */
.right
{
    float: right;
}

.centre
{
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
