{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <input class="form-control-file" type="file" name="file1" required>
                <input class="form-control-file" type="file" name="file2" required>
            </div>

            <div class="form-group">
                <label for="lines">Lines</label>
                <input class="form-check form-check-inline" type="radio" id="lines" name="algorithm" value="lines" selected>

                <label for="sentences">Sentences</label>
                <input class="form-check form-check-inline" type="radio" id="sentences" name="algorithm" value="sentences">

                <label for="substrings">Substrings</label>
                <input class="form-check form-check-inline" type="radio" id="substrings" name="algorithm" value="substrings">
                <input class="form-control-inline" type="number" name="length" placeholder="Length" hidden>
            </div>

            <button type="submit">Compare!</button>
        </form>
    </div>

    <script>
        $(function()
        {
            console.log("docready");
            $("input[type='radio']").on("click", function()
            {
                console.log("click on radio");
                var length = $("input[name='length']");

                if($("#substrings").is(":checked"))
                {
                    console.log("should show");
                    length.removeAttr("hidden");
                }
                else
                {
                    console.log("should hide");
                    length.attr("hidden", "");
                }
            })
        });
    </script>

{% endblock %}
